.b{
    display: none;
}
  
.swiper-button-next {
    background-image: url(../../../../public/right-arrow-svgrepo-com.svg)!important;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    border: 1px solid black;
    padding: 0 20px;
    border-radius: 100%;
    background-position: center;
    display: none;
    transition: opacity 0.6s ease-in-out;
  }
  .swiper-button-prev {
    background-image: url(../../../../public/right-arrow-svgrepo-com2.svg)!important;
    background-size: 100% 50%;
    border: 1px solid black;
    padding: 2px 22px;
    border-radius: 100%;
    background-position: center;
    display: none;
    transition: opacity 0.6s ease-in-out;
  }
  
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  .mySwiper:hover .swiper-button-prev,
  .mySwiper:hover .swiper-button-next {
    display: block;
    opacity: 1;
  }